Django>=1,<2
djangorestframework==3.11.0
django-cors-headers==3.1
requests
xlrd>=1.0.0
xlwt
pytz
xlutils
sklearn
fasttext
gensim==3.7.3
fuzzywuzzy==0.17.0
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
python-Levenshtein==0.12.0
autocorrect
pyspellchecker
pandas